body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thin-col {
  width: 1px;
  text-align: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thin-col-2 {
  width: 80px;
  text-align: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.align-right {
  text-align: right !important;
}

.white {
  color: white !important;
}

.medium-font {
  font-size: medium !important;
}
.center {
  text-align: center;
}
